 body {
    font-family: 'Georgia', serif;
    color: #fff;
    margin: 0;
    padding: 0;
	height: 100%;
	overflow: auto;
    justify-content: center; 
    align-items: flex-start; 
    height: auto; 
	overflow-x: hidden;
}

.background {
	background-image: url('picture/image18.png');
	background-size: 100% 70%; /* Масштабирует изображение, чтобы заполнить весь фон */
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	display: inline-flex; /* Включаем Flexbox */
    flex-direction: column; /* Выстраиваем элементы по колонке */
    align-items: center; /* Центрируем горизонтально */
    justify-content: flex-start; /* Выравниваем элементы по верхнему краю */
	overflow-x: hidden;
}

.music-div {
	padding-top: 20px;
}

.music-button {
	cursor: pointer; 
	height: 45pt;
    width: 45pt;
	background-image: url('music-button-off.svg');
    background-size: cover;
	border: none;
	background-color: transparent; 
}

.name {
	width: 20%;
	padding-top: 30px;
	padding-bottom: 40px;
}

.date {
	width: 10%;
	padding-bottom: 20px;
}

.scrollDown{
	width: 10%;
}

.triangle-container {
	padding-top: 20px;
}

.photo {
	display: inline-flex; /* Включаем Flexbox */
    flex-direction: column; /* Выстраиваем элементы по колонке */
    align-items: center; /* Центрируем горизонтально */
    justify-content: flex-start; /* Выравниваем элементы по верхнему краю */
	
}

.our-photo {
	width: 110%;
    height: auto; /* Автоматическая высота для сохранения пропорций */
    z-index: 1; /* Устанавливаем z-index, чтобы изображение было над фоном */
}

.triangle {
    border-left: 10px solid transparent; /* Левый край треугольника */
    border-right: 10px solid transparent; /* Правый край треугольника */
    border-top: 10px solid white; /* Основание треугольника (белый цвет) */
    animation: jump 0.5s infinite alternate;
    display: inline-block; /* Позволяет треугольнику двигаться */
	overflow-x: hidden;
}

@keyframes jump {
    0% {
        transform: translateY(0); /* Начальная позиция */
    }
    100% {
        transform: translateY(-10px); /* Поднимается на 10 пикселей */
    }
}

.scroll-content {
	width: 100%;
	background-image: url('picture/page21.png');
	background-size: 100% auto;/* Масштабирует изображение, чтобы заполнить весь фон */
	background-repeat: repeat;
	background-position: center top;
	display: inline-flex; /* Включаем Flexbox */
    flex-direction: column; /* Выстраиваем элементы по колонке */
    align-items: center; /* Центрируем горизонтально */
    justify-content: flex-start; /* Выравниваем элементы по верхнему краю */
	overflow-x: hidden;
}

.one-day-text{
	padding-top: 50px;
	width: 35%;
}

.container-heart{
	padding-top: 80px;
	padding-bottom: 80px;
	width: 35%;
	display: inline-flex; /* Включаем Flexbox */
    flex-direction: column; /* Выстраиваем элементы по колонке */
    align-items: center; /* Центрируем горизонтально */
    justify-content: flex-start; /* Выравниваем элементы по верхнему краю */
	overflow-x: hidden;
}

.calendar {
	width: 60%;
}

.heart {
	margin-top: 7%;
	margin-left: 13%;
	position: absolute;
    width: 40px; /* Установите размер сердца */
    height: auto; /* Авто-высота для пропорций */
    transform: translate(-50%, -50%); /* Центрирование относительно указанной точки */
    animation: beat 1s infinite; /* Анимация */
	z-index: 1;
}

.no-officiall-text{
	padding-top: 20px;
	width: 35%;
}

@keyframes beat {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2); /* Увеличение */
    }
}

.location {
	width: 100%;
	position: relative;
	display: inline-flex; /* Включаем Flexbox */
    flex-direction: column; /* Выстраиваем элементы по колонке */
    align-items: center; /* Центрируем горизонтально */
    justify-content: flex-start; /* Выравниваем элементы по верхнему краю */
	overflow-x: hidden;
	overflow-y: hidden;
}

.location-text-container {
	align-self: flex-start;
	height: auto;
	width: 100%;
}

.location-text {
	text-align: left;
	padding-top: 80px;
	padding-left: 40px;
	padding-bottom: 40px;
	width: 30%;
}

.location-container {
	background-image: url('picture/backgroundLocationDesktop.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center top; 
	text-align: center;
	width: 100%;
	display: inline-flex; /* Включаем Flexbox */
    flex-direction: column; /* Выстраиваем элементы по колонке */
    align-items: center; /* Центрируем горизонтально */
    justify-content: flex-start; /* Выравниваем элементы по верхнему краю */
	overflow-x: hidden;
	overflow-y: hidden;
}

.image-location-container {
	width: 40%; /* Увеличиваем изображение на 50% */
    height: auto; /* Высота пропорционально изменяется */
	align-self: center;
}

.image-location {
	width: 100%;
}

.navigation-container {
	padding-bottom: 150px;
	width: 30%;
}

.imgWhereLocation {
	width: 50%; /* Увеличиваем изображение на 50% */
    height: auto; /* Высота пропорционально изменяется */
	align-self: center;
}

.google-navigation {
	width: 560px;
	height: 400px;
}

.time {
	background-image: url('picture/timeDesktop.svg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center; 
	width: 100%;
	display: inline-flex; /* Включаем Flexbox */
    flex-direction: column; /* Выстраиваем элементы по колонке */
    align-items: center; /* Центрируем горизонтально */
    justify-content: flex-start; /* Выравниваем элементы по верхнему краю */
	overflow-x: hidden;
	overflow-y: hidden;
}

.time1 {
	margin-top: 440px;
	margin-left: 270px; 
	align-self: flex-start;
	transform: translateX(-700%);
	transition: transform 1.5s ease;
}


.time2{
	margin-top: 50px;
	margin-right: 280px;
	align-self: flex-end;
	transform: translateX(700%);
	transition: transform 1.5s ease;
}

.time3 {
	margin-top: 30px;
	margin-left: 270px;
	align-self: flex-start;
	transform: translateX(-700%);
	transition: transform 1.5s ease;
}

.time4{
	margin-top: -10px;
	margin-right: 280px;	
	align-self: flex-end;
	transform: translateX(700%);
	transition: transform 1.5s ease;
}

.time1.show {
	transform: translateX(0);
}

.time2.show {
	transform: translateX(0);
}

.time3.show {
	transform: translateX(0);
}

.time4.show {
	transform: translateX(0);
}

.time1-text{
	width:230%;
}
.time2-text{
	width:230%;
}
.time3-text{
	width:230%;
}
.time4-text{
	width:230%;
}



@media (max-width: 968px) {
	.music-button {
		height: 50px; /* Определяем высоту для мобильных устройств */
		width: 50px; /* Определяем ширину для мобильных устройств */
	}
	.name {
		width: 50%;
		padding-bottom: 30px;
	}
	.date {
		width: 25%;
	}
	.scrollDown{
		width: 30%;
	}
	.one-day-text{
		padding-top: 40px;
		width: 80%;
	}
	.container-heart{
		padding-top: 40px;
		padding-bottom: 40px;
		width: 80%;
	}
	.calendar {
		width: 70%;
	}
	.heart {
		margin-top: 18%;
		margin-left: 35%;
		width: 30px; /* Установите размер сердца */
	}
	.no-officiall-text{
		padding-top: 5px;
		width: 80%;
	}
	.location-text {
		padding: 20px;
		width: 60%;
	}
	.location-container {
		background-image: url('picture/backgroundLocation.svg');
	}
	.navigation-container {
		height: 200px;
		width: 70%;
	}
	.imgWhereLocation {
		width: 50%; /* Увеличиваем изображение на 50% */
		height: auto; /* Высота пропорционально изменяется */
	}
	.google-navigation {
		width: 360px;
		height: 250px;
	}
	.time {
		background-image: url('picture/timeTest.svg');
	}
	.time1 {
		margin-top: 160px;
		margin-left: 65px; 
	}
	.time2{
		margin-top: -10px;
		margin-right: 85px;
	}
	.time3 {
		margin-top: 5px;
		margin-left: 65px;	
	}
	.time4{
		margin-top: 10px;
		margin-right: 85px;	
	}
	.time1-text{
		width:170%;
	}
	.time2-text{
		width:170%;
	}
	.time3-text{
		width:170%;
	}
	.time4-text{
		width:170%;
	}
	
}

@media (max-width: 480px) {
	.music-button {
		height: 40px; /* Определяем высоту для маленьких экранов */
		width: 40px; /* Определяем ширину для маленьких экранов */
	}
	.name {
		width: 50%;
		padding-bottom: 30px;
	}
	.date {
		width: 25%;
	}
	.scrollDown{
		width: 30%;
	}
	.one-day-text{
		padding-top: 40px;
		width: 80%;
	}
	.container-heart{
		padding-top: 40px;
		padding-bottom: 40px;
		width: 80%;
	}
	.calendar {
		width: 70%;
	}
	.heart {
		margin-top: 18%;
		margin-left: 35%;
		width: 30px; /* Установите размер сердца */
	}
	.no-officiall-text{
		padding-top: 5px;
		width: 80%;
	}
	.image-location-container {
		width: 100%; /* Увеличиваем изображение на 50% */
		height: auto; /* Высота пропорционально изменяется */
	}
	.image-location {
		width: 100%;
	}
	.location-text {
		padding: 20px;
		width: 75%;
	}
	.location-container {
		background-image: url('picture/backgroundLocation.svg');
	}
	.navigation-container {
		height: 250px;
		width: 70%;
	}
	.imgWhereLocation {
		width: 50%; /* Увеличиваем изображение на 50% */
		height: auto; /* Высота пропорционально изменяется */
	}
	.google-navigation {
		width: 360px;
		height: 250px;
	}
	.time {
		background-image: url('picture/timeTest.svg');
	}
	.time1 {
		margin-top: 160px;
		margin-left: 65px; 
	}
	.time2{
		margin-top: -10px;
		margin-right: 85px;
	}
	.time3 {
		margin-top: 5px;
		margin-left: 65px;	
	}
	.time4{
		margin-top: 10px;
		margin-right: 85px;	
	}
	.time1-text{
		width:170%;
	}
	.time2-text{
		width:170%;
	}
	.time3-text{
		width:170%;
	}
	.time4-text{
		width:170%;
	}
}

@media (max-width: 390px) {
	.music-button {
		height: 40px; /* Определяем высоту для маленьких экранов */
		width: 40px; /* Определяем ширину для маленьких экранов */
	}
	.name {
		width: 60%;
		padding-bottom: 30px;
	}
	.date {
		width: 25%;
	}
	.scrollDown{
		width: 30%;
	}
	.one-day-text{
		padding-top: 40px;
		width: 80%;
	}
	.container-heart{
		padding-top: 40px;
		padding-bottom: 40px;
		width: 80%;
	}
	.calendar {
		width: 70%;
	}
	.heart {
		margin-top: 18%;
		margin-left: 36%;
		width: 30px; /* Установите размер сердца */
	}
	.no-officiall-text{
		padding-top: 5px;
		width: 80%;
	}
	.image-location-container {
		width: 100%; /* Увеличиваем изображение на 50% */
		height: auto; /* Высота пропорционально изменяется */
	}
	.image-location {
		width: 100%;
	}
	
	.location-text {
		padding: 20px;
		width: 75%;
	}
	.location-container {
		background-image: url('picture/backgroundLocation.svg');
	}
	.navigation-container {
		height: 200px;
		width: 70%;
	}
	.imgWhereLocation {
		width: 50%; /* Увеличиваем изображение на 50% */
		height: auto; /* Высота пропорционально изменяется */
	}
	.google-navigation {
		width: 230px;
		height: 230px;
	}
	.time {
		background-image: url('picture/timeTest.svg');
	}
	.time1 {
		margin-top: 145px;
		margin-left: 55px; 
	}
	.time2{
		margin-top: -5px;
		margin-right: 65px;
	}
	.time3 {
		margin-top: 5px;
		margin-left: 55px;	
	}
	.time4{
		margin-top: 10px;
		margin-right: 65px;	
	}
	.time1-text{
		width:150%;
	}
	.time2-text{
		width:150%;
	}
	.time3-text{
		width:150%;
	}
	.time4-text{
		width:150%;
	}
}

