 body {
    font-family: 'Georgia', serif;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow: hidden;
	display: flex;
    justify-content: center; 
    align-items: flex-start; 
    height: 100vh; 
    margin: 0;
}

.background {
  background-image: url(star.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
}

.container {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: flex-start; /* Выравниваем по верхнему краю */
    height: 100vh; /* Высота контейнера равна высоте вьюпорта */
}

.music-button {
    padding: 0;
    margin-top: 20px;
    cursor: pointer; 
    height: 45pt;
    width: 45pt; 
    background-image: url('music-button.svg');
    background-size: cover;
    border: none;
    background-color: transparent; 
    justify-content: center;
    align-items: center;
}

.background {
  background-image: url(star.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
}

div {
  text-align: center;
}


