body {
    font-family: 'Georgia', serif;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow: hidden;
}

.background {
  background-image: url(star.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
}


.music-button
{
    height:35px;
    width:35px;
    left:177px;
    top:21px;
    background-image: url('music-button.png');
    border: none;
    background-color: rgb(255, 255, 255, 0.0);
}


div {
  text-align: center;
}

